<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body h1{
            align-content: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="topnav">
    <a class="active" href="#">Home</a>
    <a href="/songs">Music</a>
    <a href="/Movies">Movies</a>
    <a href="/TV-Shows">TV-Shows</a>
    <a href="/">About</a>
</div>
<h1>Development undergoing</h1>

<p>go back</p>
<a href="/songs">Songs</a>
</body>
</html>