<!DOCTYPE html>
<html lang="">
<head>
  <title>Music List</title>
</head>
<body>
<h1>Song List</h1>
<table>
  <tr>
    <th>Song Name</th>
    <th>Release Year</th>
    <th>Artist</th>
  </tr>
  <tr th:each="song : ${songs}">
    <td th:text="${song.name}"></td>
    <td th:text="${song.releaseYear}"></td>
    <td th:text="${song.artist.artistName}"></td>
  </tr>
</table>

<h1>Artist List</h1>
<table>
  <tr>
    <th>Artist Name</th>
  </tr>
  <tr th:each="artist : ${artists}">
    <td th:text="${artist.artistName}"></td>
  </tr>
</table>
</body>
</html>
