<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Music List</title>
  <style>
    .play-button {
      width: 20px;
      height: 20px;
      background-color: green;
      display: inline-block;
      cursor: pointer;
    }
  </style>
</head>
<body>
<h1>Song List</h1>

<audio id="music-player" controls>
  <source id="music-source" src="../static/songs/AC%20DC%20-%20Shoot%20To%20Thrill.mp3" type="audio/mpeg">
</audio>

<table>
  <tr>
    <th>Play</th>
    <th>Song Name</th>
    <th>Artist</th>
    <th>Release Year</th>
  </tr>
  <tr th:each="song, stat: ${songs}">
    <td>
      <div class="play-button" onclick="playSong('${song.file}')"></div>
    </td>
    <td th:text="${song.name}">Song Name</td>
    <td th:text="${song.artist.artistName}">Artist</td>
    <td th:text="${song.releaseYear}">Release Year</td>
  </tr>
</table>

<script>
  var musicPlayer = document.getElementById('music-player');
  var musicSource = document.getElementById('music-source');

  function playSong(songFile) {
    musicSource.src = "../static/songs/" + songFile;
    musicPlayer.load();
    musicPlayer.play();
    console.log("Playing song: " + songFile);
  }
</script>

</body>
</html>
