<!DOCTYPE html>
<html>
<head>
    <title>Playlist Page</title>
    <style>
        .error {
            color: red;
        }
        .shake {
            animation: shake 0.5s;
        }
        @keyframes shake {
            0% { transform: translateX(0); }
            25% { transform: translateX(-5px); }
            50% { transform: translateX(5px); }
            75% { transform: translateX(-5px); }
            100% { transform: translateX(0); }
        }
        .playlist-list {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            padding: 5px;
        }
        .playlist-list-item {
            cursor: pointer;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<button onclick="togglePlaylist()">Create Playlist</button>
<button onclick="showPlaylistList()">Add to Playlist</button>

<div id="playlistForm" style="display: none;">
    <form action="/create" method="post">
        <input type="text" id="playlistName" name="playlistName" placeholder="Enter playlist name" oninput="checkExistingName()" required>
        <button id="createButton" type="submit" disabled>Create</button>
        <p class="error-message" id="errorMessage" style="display: none;"></p>
    </form>
</div>

<div>
    <form th:action="@{/delete}" method="post">
        <div th:each="playlist : ${playlists}" class="playlist-item">
            <input type="checkbox" name="selectedPlaylists" th:value="${playlist.id}">
            <a th:href="@{'/playlist/' + ${playlist.id}}">
                <label th:text="${playlist.playlist_name}"></label>
            </a>
        </div>
        <button id="deleteButton" class="delete-button" type="submit">Delete</button>
    </form>
</div>

<div id="playlistList" class="playlist-list">
    <div th:each="playlist : ${playlists}" class="playlist-list-item" onclick="addPlaylist(this.innerText)"><span th:text="${playlist.playlist_name}"></span></div>
    <p th:if="${playlists.size() == 0}">No playlists have been created.</p>
</div>

<script>
    function togglePlaylist() {
        var playlistForm = document.getElementById("playlistForm");
        playlistForm.style.display = playlistForm.style.display === "none" ? "block" : "none";
        resetErrorMessage();
    }

    function showPlaylistList() {
        var playlistList = document.getElementById("playlistList");
        playlistList.style.display = "block";
    }

    function addPlaylist(playlistName) {
        var playlistNameInput = document.getElementById("playlistName");
        playlistNameInput.value = playlistName;
        playlistNameInput.focus();
        hidePlaylistList();
        showAddedMessage(playlistName);
    }

    function hidePlaylistList() {
        var playlistList = document.getElementById("playlistList");
        playlistList.style.display = "none";
    }

    function checkExistingName() {
        var playlistNameInput = document.getElementById("playlistName");
        var createButton = document.getElementById("createButton");
        var errorMessage = document.getElementById("errorMessage");

        if (playlistNameInput.value.trim() === "") {
            createButton.disabled = true;
            errorMessage.style.display = "none";
        } else {
            var existingNames = Array.from(document.querySelectorAll(".playlist-item label")).map(function(label) {
                return label.textContent;
            });

            if (existingNames.includes(playlistNameInput.value.trim())) {
                createButton.disabled = true;
                errorMessage.textContent = playlistNameInput.value.trim() + " already exists. Please choose a different name.";
                errorMessage.style.display = "block";
                playlistNameInput.classList.add("shake");
            } else {
                createButton.disabled = false;
                errorMessage.style.display = "none";
                playlistNameInput.classList.remove("shake");
            }
        }
    }

    function resetErrorMessage() {
        var errorMessage = document.getElementById("errorMessage");
        errorMessage.style.display = "none";
        errorMessage.innerHTML = "";
    }

    function showAddedMessage(playlistName) {
        var addedMessage = document.createElement("div");
        addedMessage.innerText = playlistName + " has been added";
        addedMessage.style.position = "fixed";
        addedMessage.style.top = "50%";
        addedMessage.style.left = "50%";
        addedMessage.style.transform = "translate(-50%, -50%)";
        addedMessage.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
        addedMessage.style.color = "#fff";
        addedMessage.style.padding = "10px";
        addedMessage.style.borderRadius = "5px";
        addedMessage.style.zIndex = "9999";
        addedMessage.style.pointerEvents = "none";

        document.body.appendChild(addedMessage);

        setTimeout(function() {
            addedMessage.parentNode.removeChild(addedMessage);
        }, 1000);
    }
</script>
</body>
</html>
