<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music.App - Search</title>
</head>
<body>
<div class="container">
  <h1>Songs</h1>

  <form action="/search" method="get">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
  </form>

  <ul class="file-list">
    <li th:each="file : ${uploadedFiles}">
      <a th:href="@{/download/{fileName}(fileName=${file})}" th:text="${file}" onclick="downloadFile(event)"></a>
      <a th:href="@{/delete/{fileName}(fileName=${file})}" onclick="deleteFile(event)">Delete</a>
    </li>
  </ul>

  <p th:if="${message}" th:text="${message}"></p>

  <a href="/upload">Go to Upload</a>
</div>

<script>
    function downloadFile(event) {
      event.preventDefault();
      var downloadUrl = event.target.getAttribute("href");
      var fileName = event.target.textContent;
      var link = document.createElement("a");
      link.href = downloadUrl;
      link.download = fileName;
      link.click();
    }

    function deleteFile(event) {
      event.preventDefault();
      var deleteUrl = event.target.getAttribute("href");
      var fileName = event.target.previousElementSibling.textContent;
      if (confirm("Are you sure you want to delete the file: " + fileName)) {
        fetch(deleteUrl, { method: "POST" })
          .then(function(response) {
            if (response.ok) {
              location.reload();
            } else {
              alert("Failed to delete the file: " + fileName);
            }
          })
          .catch(function(error) {
            console.log(error);
            alert("Failed to delete the file: " + fileName);
          });
      }
    }
  </script>
</body>
</html>
