<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music.App - File List</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div th:replace="home"/>
  <h1>Uploaded Files</h1>

  <ul class="file-list">
    <li th:each="file : ${uploadedFiles}">
      <a th:href="@{/download/{fileName}(fileName=${file})}" th:text="${file}" onclick="downloadFile(event)"></a>
      <a th:href="@{/delete/{fileName}(fileName=${file})}" onclick="deleteFile(event)">Delete</a>
    </li>
  </ul>

  <p th:if="${message}" th:text="${message}"></p>

  <a href="/">dashboard</a>
</div>

<script>
  // Function to load the header content
  function loadHeader() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'header.html', true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var headerContainer = document.getElementById('header-container');
        headerContainer.innerHTML = xhr.responseText;
      }
    };
    xhr.send();
  }

  // Call the loadHeader function to insert the header content
  loadHeader();
</script>
<script>
    function downloadFile(event) {
      event.preventDefault();
      var downloadUrl = event.target.getAttribute("href");
      var fileName = event.target.textContent;
      var link = document.createElement("a");
      link.href = downloadUrl;
      link.download = fileName;
      link.click();
    }

    function deleteFile(event) {
      event.preventDefault();
      var deleteUrl = event.target.getAttribute("href");
      var fileName = event.target.previousElementSibling.textContent;
      if (confirm("Are you sure you want to delete the file: " + fileName)) {
        fetch(deleteUrl, { method: "POST" })
          .then(function(response) {
            if (response.ok) {
              location.reload();
            } else {
              alert("Failed to delete the file: " + fileName);
            }
          })
          .catch(function(error) {
            console.log(error);
            alert("Failed to delete the file: " + fileName);
          });
      }
    }
  </script>
</body>
</html>
