<!DOCTYPE html>
<html lang="en">
<head>
    <title>Song Upload</title>
    <script src="https://kit.fontawesome.com/9f0616f8e0.js" crossorigin="anonymous"></script>
    <style>
        #songTable {
            margin: 0 auto;
            width: 80%;
            border-collapse: collapse;
        }

        #songTable th,
        #songTable td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .playing {
            background-color: green;
        }

        .errorMessage {
            color: red;
        }
        .audioContainer {
            max-width: 900px;
            width: 90%; /* Adjust the width as needed */
            margin: 0 auto;
            background: white; /* remove later*/
            padding: 36px 32px 24px 32px;
            border-radius: 14px;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            position: fixed;
            bottom: 20px; /* Adjust this value as needed */
            left: 50%;
            transform: translateX(-50%);
        }
        .player-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 100px;
        }
        .player-controls .player-volume{
            margin-left: 25px;
        }
        .progress-bar {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
        }
        .player-time {
            padding: 2px 5px;
        }

        .player-controls button{
            background-color: #4b4276;
            color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            padding: 20px;
            font-size: 20px;
            margin: 0 10px;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        .progress-bar input[type="range"] {
            flex: 1; /* Make the seek-slider stretch and fill the available space */
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <button id="addSongButton" onclick="toggleForm()">Add Song</button>
</div>

<div id="songForm" style="display: none; text-align: center;">
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="songName"></label><input type="text" name="songName" id="songName" placeholder="Song Name" required><br>
        <label for="artistName"></label><input type="text" name="artistName" id="artistName" placeholder="Artist Name" required><br>
        <label for="album"></label><input type="text" name="album" id="album" placeholder="Album"><br>
        <label for="releaseYear"></label><input type="number" name="releaseYear" id="releaseYear" placeholder="Release Year" required><br>
        <input type="file" name="file" id="fileInput" required multiple><br>
        <button type="submit">Upload</button>
    </form>
</div>

<table id="songTable">
    <thead>
    <tr>
        <th>Actions</th>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody id="songList"></tbody>
</table>
<!-- Error message elements -->
<div id="errorContainer"></div>

<div class="audioContainer">
    <div class="audio-player">
        <div class="progress-bar">
            <span class="player-time current">00:00</span>
            <label for="seek-slider"></label><input type="range" id="seek-slider" max="100" value="0">
            <span class="player-time duration">00:00</span>
        </div>
    </div>
    <div class="player-controls">
        <button id="shuffleButton" onclick="shuffleSongs()" title="Play Random"><i class="fa-solid fa-shuffle"></i> </button>
        <button id="prevButton" onclick="playPreviousSong()"><i class="fa-solid fa-backward"></i></button>
        <button id="playButton" onclick="togglePlayPause()"><i id="playIcon" class="fas fa-play"></i></button>
        <button id="nextButton" onclick="playNextSong()"><i class="fa-solid fa-forward"></i></button>
        <button id="repeatButton" onclick="toggleRepeatSong()" title="Enable Repeat"><i id="beatIcon" class="fa-solid fa-repeat"></i></button>

        <div class="player-volume-container">
            <label for="volume"></label>
            <i id="volumeIcon" class="fa-solid fa-volume-high"></i>
            <input type="range" id="volume" min="0" max="1" value="1" step="0.01" class="player-volume" />
        </div>
    </div>
</div>
<audio id="audioPlayer" controls style="display: none;"></audio>

<script>
    // DOM references
    const songForm = document.getElementById('songForm');
    const addSongButton = document.getElementById('addSongButton');
    const fileInput = document.getElementById('fileInput');
    const songNameInput = document.getElementById('songName');
    const artistNameInput = document.getElementById('artistName');
    const releaseYearInput = document.getElementById('releaseYear');
    const songList = document.getElementById('songList');
    const prevButton = document.getElementById('prevButton');
    const nextButton = document.getElementById('nextButton');
    const seekSlider = document.getElementById('seek-slider');
    let isSeeking = false;

    const audioPlayer = document.getElementById('audioPlayer');
    const currentTimeDisplay = document.querySelector('.player-time.current');
    const durationDisplay = document.querySelector('.player-time.duration');

    const errorContainer = document.getElementById('errorContainer');



    let songs = [];
    let currentSongIndex = 0;
    let isFetching = false;
    let shuffleMode = false;
    let isBeating = false;
    const toggleRepeatSong = () => {
        isBeating = !isBeating;
        const beatIcon = document.getElementById('beatIcon');
        const audioPlayer = document.getElementById('audioPlayer');

        if (isBeating) {
            beatIcon.classList.add('fa-beat');
            audioPlayer.loop = true; // Set the audio to loop
        } else {
            beatIcon.classList.remove('fa-beat');
            audioPlayer.loop = false; // Remove the loop property
        }
    };

    const toggleForm = () => {
        songForm.style.display = songForm.style.display === 'none' ? 'block' : 'none';
        addSongButton.textContent = songForm.style.display === 'none' ? 'Add Song' : 'Cancel';
    };

    const volumeSlider = document.getElementById('volume');
    volumeSlider.addEventListener('input', () => {
        audioPlayer.volume = volumeSlider.value;
    });

    const togglePlayPause = () => {
        if (audioPlayer.paused) {
            audioPlayer.play();
        } else {
            audioPlayer.pause();
        }
        updatePlayButtonIcons();
        highlightCurrentSong();
    };

    const updatePlayButtonIcons = () => {
        const playIcons = document.querySelectorAll('.songplayButton i');
        playIcons.forEach((icon, index) => {
            if (index === currentSongIndex) {
                icon.classList.toggle('fa-play', audioPlayer.paused);
                icon.classList.toggle('fa-pause', !audioPlayer.paused);
            } else {
                icon.classList.remove('fa-pause');
                icon.classList.add('fa-play');
            }
        });

        const playIcon = document.getElementById('playIcon');
        playIcon.classList.toggle('fa-play', audioPlayer.paused);
        playIcon.classList.toggle('fa-pause', !audioPlayer.paused);
    };

    audioPlayer.addEventListener('timeupdate', () => {
        if (!isSeeking) {
            const currentTime = audioPlayer.currentTime;
            const duration = audioPlayer.duration;

            const currentMinutes = Math.floor(currentTime / 60);
            const currentSeconds = Math.floor(currentTime % 60);
            currentTimeDisplay.textContent = `${currentMinutes}:${currentSeconds.toString().padStart(2, '0')}`;

            const durationMinutes = Math.floor(duration / 60);
            const durationSeconds = Math.floor(duration % 60);
            durationDisplay.textContent = `${durationMinutes}:${durationSeconds.toString().padStart(2, '0')}`;

            seekSlider.value = (currentTime / duration) * 100;
        }
    });

    seekSlider.addEventListener('input', () => {
        audioPlayer.currentTime = (audioPlayer.duration * (seekSlider.value / 100));
    });

    seekSlider.addEventListener('mousedown', () => {
        isSeeking = true;
    });

    seekSlider.addEventListener('mouseup', () => {
        isSeeking = false;
    });

    audioPlayer.addEventListener('loadedmetadata', () => {
        seekSlider.value = 0;
        const duration = audioPlayer.duration;

        const durationMinutes = Math.floor(duration / 60);
        const durationSeconds = Math.floor(duration % 60);
        durationDisplay.textContent = `${durationMinutes}:${durationSeconds.toString().padStart(2, '0')}`;
    });

    audioPlayer.addEventListener('ended', () => {
        currentTimeDisplay.textContent = '00:00';
        durationDisplay.textContent = '00:00';
        seekSlider.value = 0;
        updatePlayButtonIcons();
        highlightCurrentSong();
    });
    const shuffleSongs = () => {
        shuffleMode = !shuffleMode;

        // Update the shuffleButton element and toggle the 'fa-beat' class
        const shuffleButton = document.getElementById('shuffleButton');
        const shuffleIcon = shuffleButton.querySelector('i.fa-shuffle');

        if (shuffleMode) {
            shuffleIcon.classList.add('fa-beat');
        } else {
            shuffleIcon.classList.remove('fa-beat');
        }
    };


    const updateVolumeIcon = () => {
        const volume = audioPlayer.volume;
        const volumeIcon = document.getElementById('volumeIcon');

        if (volume > 0.7) {
            volumeIcon.className = 'fa-solid fa-volume-high';
        } else if (volume > 0) {
            volumeIcon.className = 'fa-solid fa-volume-low';
        } else {
            volumeIcon.className = 'fa-solid fa-volume-xmark';
        }
    };
    volumeSlider.addEventListener('input', () => {
        audioPlayer.volume = volumeSlider.value;
        updateVolumeIcon();
    });

    const playPreviousSong = () => {
        if (isFetching) {
            return; // Ignore the click if a fetch request is already in progress
        }
        if (shuffleMode) {
            const randomIndex = getRandomIndex();
            playSongByIndex(randomIndex);
        } else {
            const prevIndex = (currentSongIndex - 1 + songs.length) % songs.length;
            playSongByIndex(prevIndex);
        }
    };

    const getRandomIndex = () => {
        // Generate a random index different from the current one
        let randomIndex = currentSongIndex;
        while (randomIndex === currentSongIndex) {
            randomIndex = Math.floor(Math.random() * songs.length);
        }
        return randomIndex;
    };

    const playNextSong = () => {
        if (isFetching) {
            return; // Ignore the click if a fetch request is already in progress
        }
        if (shuffleMode) {
            const randomIndex = Math.floor(Math.random() * songs.length);
            playSongByIndex(randomIndex);

        } else {
            const nextIndex = (currentSongIndex + 1) % songs.length; // Change 'prevIndex' to 'nextIndex'
            playSongByIndex(nextIndex); // Change 'prevIndex' to 'nextIndex'
        }
    };

    const playSongByIndex = (index) => {
        if (index === currentSongIndex) {
            togglePlayPause();
            return;
        }

        currentSongIndex = index;
        const song = songs[index];

        isFetching = true; // Set isFetching to true before starting the fetch request


        fetch(`/${song.id}/file`)
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Failed to retrieve the song file');
                }
                return response.blob();
            })
            .then((blob) => {
                audioPlayer.src = URL.createObjectURL(blob);
                audioPlayer.play();
                updateButtonStates();
                updatePlayButtonIcons();
                highlightCurrentSong();
                isFetching = false; // Set isFetching back to false after the fetch request is completed
            })
            .catch((error) => {
                console.error('Error:', error);
                isFetching = false; // Make sure to set isFetching back to false even if an error occurs
            });
    };

    const updateButtonStates = () => {
        prevButton.disabled = false;
        nextButton.disabled = false;
    };

    const highlightCurrentSong = () => {
        const rows = document.querySelectorAll('#songList tr');
        rows.forEach((row, index) => {
            if (index === currentSongIndex) {
                row.classList.add('playing');
            } else {
                row.classList.remove('playing');
            }
        });
    };

    const displayErrorMessages = (errors) => {
        errorContainer.innerHTML = Object.entries(errors)
            .map(([key, value]) => `<p class="errorMessage">${value}</p>`)
            .join('');
    };

    const validateFormData = (file, songName, artistName, releaseYear) => {
        const fileName = file.name;
        const fileExtension = fileName.split('.').pop().toLowerCase();

        if (fileExtension !== 'mp3') {
            displayErrorMessages({ mp3File: 'Invalid file format. Only MP3 files are allowed.' });
            return false;
        }

        if (songName.trim() === '' || artistName.trim() === '') {
            displayErrorMessages({ songName: 'Song name and artist name cannot be empty.' });
            return false;
        }

        if (!/^\d{4}$/.test(releaseYear)) {
            displayErrorMessages({ releaseYear: 'Invalid release year. Please enter a four-digit number.' });
            return false;
        }

        return true;
    };

    document.getElementById('uploadForm').addEventListener('submit', (e) => {
        e.preventDefault();

        const file = fileInput.files[0];
        const songName = songNameInput.value;
        const artistName = artistNameInput.value;
        const releaseYear = releaseYearInput.value;

        if (!validateFormData(file, songName, artistName, releaseYear)) {
            return;
        }

        const formData = new FormData();
        formData.append('file', file);
        formData.append('songName', songName);
        formData.append('artistName', artistName);
        formData.append('album', document.getElementById('album').value || '');
        formData.append('releaseYear', releaseYear);

        fetch('/upload', {
            method: 'POST',
            body: formData
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Failed to upload the song');
                }
                return response.json();
            })
            .then((song) => {
                songs.push(song);

                const row = document.createElement('tr');
                row.id = `songRow${songs.length - 1}`;
                row.innerHTML = `
        <td>
          <button class="songplayButton" onclick="playSongByIndex(${songs.length - 1})"><i class="fas fa-play"></i></button>
        </td>
        <td>${song.songName}</td>
        <td>${song.artistName}</td>
        <td>${song.album || ''}</td>
        <td>${song.releaseYear}</td>
      `;

                songList.appendChild(row);
                updateButtonStates();
            })
            .catch((error) => {
                console.error('Error:', error);

                if (error.message === 'Failed to upload the song') {
                    displayErrorMessages(error.response);
                } else {
                    displayErrorMessages({ duplicate: 'Failed to upload the song.' });
                }
            });
    });

    fetch('/all')
        .then((response) => {
            if (!response.ok) {
                throw new Error('Failed to retrieve the song list');
            }
            return response.json();
        })
        .then((data) => {
            songs = data;

            songs.forEach((song, index) => {
                const row = document.createElement('tr');
                row.id = `songRow${index}`;
                row.innerHTML = `
        <td>
          <button class="songplayButton" onclick="playSongByIndex(${index})"><i class="fas fa-play"></i></button>
        </td>
        <td>${song.songName}</td>
        <td>${song.artistName}</td>
        <td>${song.album || ''}</td>
        <td>${song.releaseYear}</td>
      `;

                songList.appendChild(row);
            });

            updateButtonStates();
        })
        .catch((error) => {
            console.error('Error:', error);
            displayErrorMessages({ listError: 'Failed to retrieve the song list.' });
        });
    audioPlayer.addEventListener('ended', () => {
        if (currentSongIndex === songs.length - 1) {
            playSongByIndex(0);
        } else {
            playNextSong();
        }
    });
</script>
</body>
</html>