<!DOCTYPE html>
<html>
<head>
  <title>Music Application</title>
  <style>

    body{

      margin: 0;
      font-family: System-ui,serif;

    }
    .container {
      background-color: #344962;
      background-image: url("../images/vinly-medium.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      color: white;
      font-size: 21px;
    }

    h1 {
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .buttons button {
      margin: 0 5px;
    }

    #upload-input {
      display: none;
    }

    .player-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    #prev-btn,
    #next-btn {
      margin: 0 10px;
    }

    #current-song {
      text-align: center;
      margin-bottom: 10px;
    }

    #playlist-section {
      margin-bottom: 20px;
    }

    #playlist-name {
      margin-right: 10px;
    }

    .song-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      color: #87ceeb; /* Light Blue */    }

    .song-name {
      cursor: pointer;
      color: blue;
    }

    .active-song {
      background-color: lightblue;
    }

    .playlist-name {
      position: fixed;
      top: 0px;
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }

    .play-button,
    .pause-button {
      width: 20px;
      height: 20px;
      background-color: #555;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }

    .play-button:hover,
    .pause-button:hover {
      background-color: #333;
    }

    .pause-button {
      background-color: #228804;
    }

    .active-song {
      background-color: #066cde;
    }

    #delete-btn {
      margin-top: 10px;
    }

    .playlist-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      color: #ffffff; /* White */
    }

    audio {
      width: 100%;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Music Application</h1>
  <div class="buttons">
    <button id="songs-btn">Songs</button>
    <button id="search-btn">Search</button>
    <button id="recent-btn">Recently Played Songs</button>
    <input id="upload-input" type="file" accept="audio/*" style="display: none;" multiple>
    <button id="upload-btn">Upload</button>
    <button id="delete-btn" disabled>Delete Selected</button>
  </div>
  <div id="playlist-section">
    <h2>Playlists</h2>
    <div id="playlist-content"></div>
    <div>
      <input type="text" id="playlist-name" placeholder="Enter playlist name">
      <button id="create-playlist">Create</button>
    </div>
  </div>
  <div id="content"></div>
  <div class="player-container">
    <button id="prev-btn">Previous</button>
    <audio id="audio-player" controls></audio>
    <button id="next-btn">Next</button>
  </div>
  <div id="current-song"></div>
  <div id="message"></div>
</div>

<script>
  let songs = [];
  let playlists = [];
  let currentSongIndex = 0;
  let audioPlayer;
  let isPaused = true;

  function displaySongs(filteredSongs) {
    const content = document.getElementById('content');
    content.innerHTML = '';

    if (songs.length === 0) {
      content.innerHTML = 'No songs uploaded yet.';
      return;
    }

    const deleteButton = document.getElementById('delete-btn');
    deleteButton.disabled = true;

    const displayList = filteredSongs || songs;

    for (let i = 0; i < displayList.length; i++) {
      const song = displayList[i];
      const songItem = document.createElement('div');
      songItem.classList.add('song-item');

      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.name = 'song-checkbox';
      checkbox.value = i;
      checkbox.addEventListener('change', handleCheckboxChange);

      const playButton = document.createElement('div');
      playButton.classList.add(isPaused ? 'play-button' : 'pause-button');
      playButton.addEventListener('click', () => {
        if (isPaused) {
          playSong(i);
        } else {
          pauseSong();
        }
      });

      const songName = document.createElement('div');
      songName.textContent = `${i + 1}. ${song.name}`;

      songItem.appendChild(checkbox);
      songItem.appendChild(playButton);
      songItem.appendChild(songName);
      content.appendChild(songItem);
    }
  }

  function displayPlaylists() {
    const playlistContent = document.getElementById('playlist-content');
    playlistContent.innerHTML = '';

    if (playlists.length === 0) {
      playlistContent.innerHTML = 'No playlists created yet.';
      return;
    }

    for (let i = 0; i < playlists.length; i++) {
      const playlist = playlists[i];
      const playlistItem = document.createElement('div');
      playlistItem.classList.add('playlist-item');

      const playlistName = document.createElement('div');
      playlistName.textContent = `${i + 1}. ${playlist.name}`;
      playlistName.classList.add('playlist-name');
      playlistName.addEventListener('click', () => handlePlaylistClick(i));

      const addButton = document.createElement('button');
      addButton.textContent = 'Add Song';
      addButton.addEventListener('click', () => {
        const selectedSongs = getSongsFromCheckboxes();
        if (selectedSongs.length === 0) {
          showMessage('Please select at least one song.');
        } else {
          addSongsToPlaylist(playlist, selectedSongs);
        }
      });

      playlistItem.appendChild(playlistName);
      playlistItem.appendChild(addButton);
      playlistContent.appendChild(playlistItem);
    }
  }
  function displayPlaylistSongs(playlistIndex) {
    const playlist = playlists[playlistIndex];
    const content = document.getElementById('content');
    content.innerHTML = '';

    if (playlist.songs.length === 0) {
      content.innerHTML = 'No songs in this playlist yet.';
      return;
    }

    for (let i = 0; i < playlist.songs.length; i++) {
      const song = playlist.songs[i];
      const songItem = document.createElement('div');
      songItem.classList.add('song-item');

      const songName = document.createElement('div');
      songName.textContent = `${i + 1}. ${song.name}`;
      songName.classList.add('song-name');
      songName.addEventListener('click', () => playSong(i, playlist.songs));

      songItem.appendChild(songName);
      content.appendChild(songItem);
    }
  }


  function handlePlaylistClick(playlistIndex) {
    displayPlaylistSongs(playlistIndex);
  }


  function getSongsFromCheckboxes() {
    const checkboxes = document.getElementsByName('song-checkbox');
    const selectedSongs = [];

    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        selectedSongs.push(songs[i]);
      }
    }

    return selectedSongs;
  }

  function addSongsToPlaylist(playlist, songsToAdd) {
    const existingSongs = playlist.songs;
    let duplicateCount = 0;

    for (let i = 0; i < songsToAdd.length; i++) {
      const songToAdd = songsToAdd[i];
      const duplicateSong = existingSongs.find(song => song.name === songToAdd.name);

      if (duplicateSong) {
        duplicateCount++;
        continue;
      }

      existingSongs.push(songToAdd);
    }

    if (duplicateCount > 0) {
      showMessage(`${duplicateCount} song(s) already exist in the playlist and were skipped.`);
    } else {
      showMessage('Songs added to the playlist successfully.');
    }
  }

  function createPlaylist() {
    const playlistNameInput = document.getElementById('playlist-name');
    const playlistName = playlistNameInput.value.trim();

    if (playlistName === '') {
      showMessage('Please enter a valid playlist name.');
      return;
    }

    const duplicatePlaylist = playlists.find(playlist => playlist.name === playlistName);

    if (duplicatePlaylist) {
      showMessage('A playlist with the same name already exists.');
      return;
    }

    const playlist = {
      name: playlistName,
      songs: []
    };

    playlists.push(playlist);
    playlistNameInput.value = '';
    displayPlaylists();
    showMessage('Playlist created successfully.');
  }

  function displayRecentlyPlayedSongs() {
    const content = document.getElementById('content');
    content.innerHTML = '';

    if (songs.length === 0) {
      content.innerHTML = 'No songs uploaded yet.';
      return;
    }

    const recentSongs = songs.slice(0, 3);
    for (let i = 0; i < recentSongs.length; i++) {
      const song = recentSongs[i];
      const songItem = document.createElement('div');
      songItem.classList.add('song-item');

      const songName = document.createElement('div');
      songName.textContent = `Recently Played: ${song.name}`;

      songItem.appendChild(songName);
      content.appendChild(songItem);
    }
  }

  function handleSongsClick() {
    displaySongs();
    displayPlaylists();
  }

  function handleSearchClick() {
    const query = prompt('Enter a song name to search:');
    if (query) {
      const filteredSongs = songs.filter(song => song.name.toLowerCase().includes(query.toLowerCase()));
      displaySongs(filteredSongs);
    }
  }

  function handleUploadClick() {
    const uploadInput = document.getElementById('upload-input');
    uploadInput.addEventListener('change', handleFileSelect);
    uploadInput.click();
  }

  function handleFileSelect(event) {
    const files = event.target.files;
    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const duplicateSong = songs.find(song => song.name === file.name);

      if (duplicateSong) {
        showMessage(`The song "${file.name}" is already uploaded.`);
        continue;
      }

      songs.push(file);
      showMessage(`Song "${file.name}" uploaded successfully.`);
    }
    displaySongs();
    displayPlaylists();
  }

  function playSong(index, songList) {
    currentSongIndex = index;
    audioPlayer.src = URL.createObjectURL(songList[index]);
    audioPlayer.play();
    updateCurrentSong(songList[index].name);
    isPaused = false;
    displaySongs();
    displayPlaylists();
    highlightCurrentSong();
  }


  function pauseSong() {
    audioPlayer.pause();
    isPaused = true;
    displaySongs();
    displayPlaylists();
    highlightCurrentSong();
  }

  function playNextSong() {
    if (currentSongIndex === songs.length - 1) {
      currentSongIndex = 0;
    } else {
      currentSongIndex++;
    }
    audioPlayer.src = URL.createObjectURL(songs[currentSongIndex]);
    audioPlayer.play();
    updateCurrentSong(songs[currentSongIndex].name);
    isPaused = false;
    displaySongs();
    displayPlaylists();
    highlightCurrentSong();
  }

  function playPreviousSong() {
    if (currentSongIndex === 0) {
      currentSongIndex = songs.length - 1;
    } else {
      currentSongIndex--;
    }
    audioPlayer.src = URL.createObjectURL(songs[currentSongIndex]);
    audioPlayer.play();
    updateCurrentSong(songs[currentSongIndex].name);
    isPaused = false;
    displaySongs();
    displayPlaylists();
    highlightCurrentSong();
  }

  function updateCurrentSong(songName) {
    const currentSongElement = document.getElementById('current-song');
    currentSongElement.textContent = `Now Playing: ${songName}`;
  }

  function showMessage(message) {
    const messageElement = document.getElementById('message');
    messageElement.textContent = message;
  }

  function highlightCurrentSong() {
    const songItems = document.getElementsByClassName('song-item');
    for (let i = 0; i < songItems.length; i++) {
      songItems[i].classList.remove('active-song');
    }
    songItems[currentSongIndex].classList.add('active-song');
  }

  function handleCheckboxChange() {
    const checkboxes = document.getElementsByName('song-checkbox');
    const deleteButton = document.getElementById('delete-btn');
    let anyCheckboxChecked = false;

    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        anyCheckboxChecked = true;
        break;
      }
    }

    deleteButton.disabled = !anyCheckboxChecked;
  }

  function handleDeleteClick() {
    const checkboxes = document.getElementsByName('song-checkbox');
    const songsToDelete = [];

    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        songsToDelete.push(songs[i]);
      }
    }

    if (songsToDelete.length === 0) {
      showMessage('Please select at least one song to delete.');
    } else {
      for (let i = 0; i < songsToDelete.length; i++) {
        const songToDelete = songsToDelete[i];
        const songIndex = songs.findIndex(song => song.name === songToDelete.name);
        if (songIndex !== -1) {
          songs.splice(songIndex, 1);
          if (songIndex === currentSongIndex) {
            audioPlayer.pause();
            isPaused = true;
            currentSongIndex = 0;
          } else if (songIndex < currentSongIndex) {
            currentSongIndex--;
          }
        }
      }
      displaySongs();
      displayPlaylists();
      showMessage('Songs deleted successfully.');
    }
  }

  document.getElementById('songs-btn').addEventListener('click', handleSongsClick);
  document.getElementById('search-btn').addEventListener('click', handleSearchClick);
  document.getElementById('upload-btn').addEventListener('click', handleUploadClick);
  document.getElementById('delete-btn').addEventListener('click', handleDeleteClick);
  document.getElementById('prev-btn').addEventListener('click', playPreviousSong);
  document.getElementById('next-btn').addEventListener('click', playNextSong);
  document.getElementById('create-playlist').addEventListener('click', createPlaylist);
  document.getElementById('recent-btn').addEventListener('click', displayRecentlyPlayedSongs);

  audioPlayer = document.getElementById('audio-player');
  audioPlayer.addEventListener('ended', playNextSong);

  displaySongs();
  displayPlaylists();
  displayRecentlyPlayedSongs();

</script>
</body>
</html>
